body{
    font-family: sans-serif;
}

header>p>span{
    color: aqua;
}

.sottolineato{
    background-color: yellow;
}

table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

h2{
        color: grey;
    }

    .footer-img{
        height: 230px;
        width:230px;
        position: relative;
        text-align: center;
    }

    .computer{
        background-image: url(img/monitor.jpg);
        background-repeat: no-repeat;
    }

    .graph{
        background-image: url(img/graph.jpg);
    }

    .footer-text{    
        color: white;
    }